{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>ABOUT US</h1>

<h2>Hello,
    We are glad to welcome you on our site!
    My name is Diana and together with my family we created Dianavery. We are small hobby breeder with our
    own prefix. We have been engaged in British Shorthair breeding since 2021 and we are registered with
    GCCF (Governing Council of Cat Fancy) and TICA (International Cat Association). As a reputable breeder,
    we strictly adhere to all guidelines for responsible breeding and working within a specified code of ethics.
    We are situated in UK, NE Lincolnshire.
    The main goal of our breeding activity is getting healthy BSH kittens, fully socialised and corresponding to
    the BSH breed standard. We are in love for the Colourpoint cat pattern, and this is the reason we are focused
    on breeding such cats only. Our Queens carry the gene for long hair, so it is possible that we may have a
    British Longhair kittens one day.
    We live in a house and our BSH cats are full-right members of the family and have constant contact with
    each other and us, which is important for the socialisation of BSH kittens. We have a relatively small cat
    cattery and we have the opportunity to pay enough attention to each of our pets! Our Stud and Queens are
    tested for the most dangerous viral cat diseases: Immunodeficiency Virus (FIV) and Leukaemia Virus
    (FeLV). Accordingly, all our kittens are free from Immunodeficiency and Leukaemia. All the producers of
    the cattery are tested for hereditary diseases. This allows us to make the right selection of couples and
    guarantee the absence of kittens having any congenital pathologies.
    To buy a BSH kitten is possible only after 13 weeks age, fully vaccinated, microchipped, accustomed to the
    litter tray and scratch post.
    The sale of our kittens is performed only from our house. We have only purebred BSH from quality
    producers. The photos of Stud and Queens are presented on the site.
    Please note that we do not breed for profit. Our Queens give birth once a year so they have a chance to
    recover and enjoy the rest of the time.
    We are waiting for you in DianAvery. We will be happy to advise you and answer all your questions. We will
    give recommendations for the care of a BSH kitten.
    Your BSH kitten is already waiting for you!</h2>

<h1>ABOUT BSH COLOURPOINT KITTENS</h1>    
<h2>If you decide to buy a healthy BSH Colourpoint kitten, then you came to the right place!
    We are interested in Quality, not Quantity! We have kittens with the best breed characteristics.
    We raise the kittens among our family, so they are very sociable and will easily adapt to their new homes.
    All of our kittens are ready for the new home from 13 weeks old. They are located in NE Lincolnshire, UK.
    All are raised with love and attention in constant contact with us. We let them play freely around the house
    each other or with us. They are perfectly socialised, brought up accustomed to using the tray and scratching.
    The process of becoming an owner of BSH Colourpoint is simple xx</h2>
{% endblock %}